*{
    margin:0;
}
.wrapper{
    width: 600px;
    background: #eee;
    margin: 0 auto 0 auto;
}

.heading {
    height: 100px;
    background: #006699;
    color:aliceblue;    
    padding: 20px;
    text-align: center;
    font-size: 15pt;
    color:blanchedalmond;
    text-shadow: 0.1em 0.1em black;
}

p{
    margin-top: 10px;
    font-family: georgia;
    padding:inherit
}
.title{
    font-family: serif;
    font-size: 18pt;
    padding: 10px;
}
.navigation {
    height: 20px;
    background: black;
    color:cornsilk;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 10px;
}

.navigation ul{
    
}

.navigation ul li{
    display: inline;
    margin-right: 30px;
    padding: 3px;
}

.navigation a {
    color:blanchedalmond;
    text-decoration: none;
}

.navigation a: hover{
    color: white;
    text-decoration: underline;
}
.content {
    min-height: 400px;
    background: ligthgrey;
    color:black;
    width: 380px;
    float: left;
    padding: 10px;
}

.sidebar {
    width: 180px;
    float: right;
    background: darkgray;
    font-family: georgia; 
    font-size: 15;
    min-height: 400px;
    color:black;
    padding: 10px;
}

.footer{
    clear:both;
    background:#006699 ;
    height: 30px;   
    color: blanchedalmond;
    text-align: center;
    padding:10px;  
    font-size: 12px;
}
