@import url('https://fonts.googleapis.com/css?family=Sansita');
*{
    margin:0;
}
.wrapper{
    width: %;
    color:#000;
    
}

p{
    margin-top: 16px;
    font-family:;
  
}
.title{ 
    font-family: serif;
    font-size: 18pt;
    padding: 20px;
}
.navigation {
    height: 50px;
    background: black;
    color:chartreuse;
    margin-top: 50px;
    margin-bottom:0px;
    padding: 15px;
    
}

.navigation ul{
    
}

.navigation ul li{
    display: inline;
    margin-right: 100px;
    padding: 3px;
}

.navigation a {
    color:chartreuse;
    text-decoration: none;
}

.navigation a: hover{
    color: white;

}
.content {
    min-height: 400px;
    background-color: #000;
    color:chartreuse;
    width: 380px;
    float: left;
    padding: 50px;
    
}


}

.footer{
    align-content: flex-end;
    clear:both;
    background-color: #000;
    height: 30px;   
    color:chartreuse;
    align-self: baseline;
    padding:60px;  
    font-size: 12px;
}
